<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/statistic/echarts.js"></script>
    <script src="/js/personal_page/statistic_personal.js"></script>
</head>
<body>
<div id="star" style="width: 100%;height: 300px;float: left"></div>
<div id="state_p" style="width: 50%;height: 300px;float: left"></div>
<div id="state_a" style="width: 50%;height: 300px;float: left;"></div>

</body>
</html>